@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
body {background-color:lightblue; font-family: 'Josefin Sans', sans-serif;}
h1 {background-color:white; text-align: center}
a {color: white}
  color: white;
}
h3 { float: left; width: 20%;}
p1 { float: left; width: 70%; border-right:3px solid white;}
