body {
  background: lightblue; 
  font-family: arial;
  margin: 0;
  padding: 0;
}
h1 {background-color:white; text-align: center}
a {color: white}
  color: white;
}
h3 { float: left; width: 20%;}
p1 { float: left; width: 70%;}
